body{
    width: 100%;
    margin: 0%;
}
.Main-Container{
    display: flex;
    width: 100%;
    height: 100vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 190, 186);
}
.Options-Container{
    display: flex;  
    width: 75%; 
}
.Options-Container div{
    flex: 1;
    
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}
.Grid-Container{
    margin: 1%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 67vmin;
    width: 67vmin;
    /*height: 675px;
    width: 675px;*/
}
.Grid-Element-Base-State{
    background-color: white;
}
.Grid-Element-Base-State:hover{
    background-color: rgb(119, 113, 114);
}
.Options-Container{
    height: 15%;
}
.Resize-Grid-Slider{
    opacity: 0.9;
}
.Resize-Grid-Slider:hover{
    opacity: 1;
}
.Options-Btn{
    border-radius: 20px;
    opacity: 0.9;
    height: 30%;
    width: 85%;
}

.Options-Btn:hover{
   opacity: 1; 
}
.Eraser-Mode-Btn{
    
    
}
.Active-Mode-Btn{
    background-color: rgba(255, 2, 2, 0.514);
}
