body{
    width: 100%;
    margin: 0%;
}

*{
    font-family: Gruppo;
}

.Main-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vmin;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1B262C;
}

.Header{

    height: fit-content;
    max-height: 9%;
    display: table;
    width: 90%;
    flex: 1 1 auto;
    
}
.Title{
    display: table-row;
    color: #BBE1FA;
    font-size: 48px;
    height: 100%;
    max-height: 100%;
    border: 2px solid black;
    padding: 0%;
    text-align: center;
    font-weight: bolder;
   
}
.Options-Container{
    display: flex;
    gap: 10px;  
    height: 15%;
}
.Change-Colour-Container, .Eraser-Mode-Btn-Container, .Clear-Grid-Btn-Container, .Resize-Grid-Container{
    flex: 1;
    display: flex;
    height: calc(37vmax/4);
    justify-content: center;
    align-items: center;
    width: calc(37vmax/4);
}
.Change-Colour-Container{
    flex-direction: column;
    gap: 5%;
    border: 5px solid #BBE1FA;
    border-radius: 12%;
}
.Colour-Row-One, .Colour-Row-Two, .Colour-Row-Three, .Colour-Row-Four{
    height: 25%;
    display: flex;
    width: 100%;
    gap: 5%;
    box-sizing: border-box;  
}

.Colour-Row-One div, .Colour-Row-Two div, .Colour-Row-Three div, .Colour-Row-Four div{
    flex: 1;
    width: 100%;
    border: 2px solid black;
    border-radius: 50%;   
}
.Select-Red{
    background-color: red;
}
.Select-Blue{
    background-color: blue;
}
.Select-Green{
    background-color: green;
}
.Select-Yellow{
    background-color: yellow;
}
.Select-Purple{
    background-color: purple;
}
.Select-Orange{
    background-color: rgb(255, 112, 60);
}
.Select-Black{
    background-color: black;
}
.Select-Pink{
    background-color: rgb(244, 134, 200);
}
.Select-Brown{
    background-color: rgb(64, 10, 10);
}
.Select-Teal{
    background-color: teal;
}
.Select-Light-Grey{
    background-color: rgb(143, 140, 140);
}
.Select-Peach{
    background-color: peachpuff;
}
.Select-Dark-Grey{
    background-color: rgb(82, 80, 80);
}
.Select-Burgundy{
    background-color: rgb(160, 36, 36);
}
.Select-Lime{
    background-color: lime;
}
.Select-Colour:hover{
    border: 2px solid white;
}

.Colour-Selector{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.Colour-Selector, .Select-Lime, .Select-Dark-Grey, .Select-Burgundy{
    height: 85%;
}
.Colour-Picker {
    border-radius: 50%;
    background: #fff;
    opacity: 0;
    
  }
.Grid-Container{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    border-radius: 2%;
    height: 62vmin;
    width: 62vmin;
    margin-bottom: 0.7%;
}
.Grid-Element-Base-State{
    background-color: white;
}
.Grid-Element-Base-State:hover{
    background-color: rgb(119, 113, 114);
}
.Resize-Grid-Container{
    display: flex;
}
.Slider-Container{
    display: flex;
    padding-top: 20%;
    align-items: bottom;
    justify-content: center;
    flex: 1;
    height: 100%;
    width: 55%;
}
.Resize-Grid-Slider{
    opacity: 0.9;
    height: 75%;
    width: 96%;
}
.Resize-Grid-Slider:hover{
    opacity: 1;
}
.Current-Dimensions{
    flex: 1;
    width: 5%;
    display: flex;
    text-align: center;
    padding-bottom: 5%;
    align-items: top;
    color: #BBE1FA;
}
input[type="range"]::-webkit-slider-runnable-track{
    background-color: #3282B8;
    border-radius: 25%;
    border: 2px solid #BBE1FA;
}
input[type="range"]::-moz-range-track{
    background-color: #3282B8;
    border-radius: 25%;
    border: 2px solid #BBE1FA;
}

.Options-Btn{
    border-radius: 20px;
    opacity: 0.9;
    height: 35%;
    width: 85%;
    padding: 2%;
    font-size: 90%;
    background-color: #3282B8;
    border: 5px solid #BBE1FA;
    color: #BBE1FA;
}
.Clear-Grid-Btn:hover{
    background-color: #275f85;
}
.Options-Btn:hover{
   opacity: 1.2;
}
.Eraser-Mode-Btn{   
    
}
.Active-Mode-Btn{
    background-color: rgba(255, 2, 2, 0.514);
}
