body{
    width: 100%;
    margin: 0%;
}
.Main-Container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Options-Container{
    display: flex;   
}
.Options-Container div{
    flex: 1;
}
.Grid-Container{
    display: flex;
    
    flex-direction: column;
    border: 2px solid black;
    height: 730px;
    width: 730px;
}